$carouselWidth: 100%;
$carouselHeight: 300px;
$textColor: #d57474;
$successColor: #40b340;
$dangerColor: #d10000;
$textSize: 40px;

.nav-link:nth-child(1) {
  margin: 0 40px;
}

.wrapper {
  width: $carouselWidth;
  height: $carouselHeight;
  margin-top: 60px;
}

.caption {
  position: initial !important;
}

.caption__descr {
  font-size: $textSize;
  color: $textColor;
}

.caption__descr--danger {
  font-size: $textSize;
  color: $dangerColor;
}

.caption__descr--success {
  font-size: $textSize;
  color: $successColor;
}

.caption__title {
  margin-bottom: 60px;
  color: #000;
  font-weight: bold;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #6c9dd4;
  border-radius: 5px;
}

.carousel-indicators {
  display: none;
}


@media(max-width: 992px) {
  .nav-link:nth-child(1) {
    margin: 0;
  }
}