$bgcolor-grey: rgb(243, 243, 243);
$brdrcolor-black: rgba(0, 0, 0, 0.18);

.card {
  margin-top: 80px;
  border: 1px solid $brdrcolor-black;
}

.card-body {
  background-color: $bgcolor-grey;
}

.footer__data {
  display: inline-block;
}

.footer__data:not(:nth-child(3)) {
  margin-right: 60px;
}

.footer__data {
  span {
    margin-right: 10px;
  }
}

/* MEDIA QUERIES */

@media(max-width: 1024px) {

  .card-body {
    display: flex;
    justify-content: space-between;
  }

  .footer__data:not(:nth-child(3)) {
    margin: 0;
  }
}

@media(max-width: 786px) {

  .card-body {
    flex-wrap: wrap;
    justify-content: left;
  }

  .footer__data:first-child {
    width: 100%;
    margin-bottom: 10px;
  }

  .footer__data:nth-child(2) {
    margin-right: 20px;
  }
}

@media(max-width: 576px) {

  .footer__data {
    font-size: 14px;
  }
}

@media(max-width: 492px) {

  .card {
    margin-top: 60px;
  }
}